.Main{
    padding-top: 100px;
    //height: 100vh;
    margin: 0px 15px;
    background-color: #EEEEEE;
    &__Image{
        width: 90%;
        background-color: #FFFFFF;
    }
}
.Header{
    background-color: black;
}
