body{
    //height: 100vh;
    padding: 0 5%;
}
.ImageBGround{
    height: 400px;
    background-image: url('./image/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: none;
    &--Font-family{
        font-family: 'Courgette', cursive;
        color: orangered;
    }
}
.Card{
    &_Image{
       
      
    }
}