//Hostpage CSS
*{
     
}
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}

.Logo--Size{
    font-size: 40px;
}

.Header{
    background: url(./imageHostpage/bg.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    &__Content{
         
        padding: 0 5% ;
    }
    &__Content h1{
        font-size: 45px;
        font-family: 'Poppins', sans-serif;
    }
    &__Content select, input {
        background: transparent;
        color: white;
        border: none;
    }
    &__Content option{
        color: black;
        font-size: 1rem;
    }
    &__Content--Color{
        color: #F73967;
    }
    &__Button--Color{
        font-size: 18px;
        height: 60px;
        width: 180px;
        border: none;
        background: linear-gradient(90deg,#E61E4F,#D80765);
        border-radius: 10px;
        transition: 1s;
    }
   
}

//Main content
.Main{
    margin: 5% 0;
    padding:0 5%;
    &__H2--Font{
        font-size: 2.8rem;
    }
    &__H2--Font span{
        font-family: 'Dancing Script', cursive;
        font-size: 3rem;
    }
    &__Image{
        &--Url1, &--Url2, &--Url3, &--Url4{
            background-size: cover;
            background: no-repeat center;
            height: 500px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }
        &--Url1{
            background-image: url(./imageHostpage/Carousel1.jpg);

        }
        &--Url2{
            background-image: url(./imageHostpage/Carousel2.jpg);
            
        }
        &--Url3{
            background-image: url(./imageHostpage/Carousel3.jpg);
            
        }
        &--Url4{
            background-image: url(./imageHostpage/Carousel4.jpg);
            
        }
    }
    &__Content{
        &--Border{
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            background-color: #F7F7F7;
        }
    }

    //Button carousel
    &__IconPrev{
        &--Size{
            padding:4px 6px;
            border-radius: 50%;
            background-color: white;
            color:black;
            box-shadow: 0px 1px 1px 1px #E7EAED;
            position: absolute;
            top: 45%;
            left: -1%;
        }
    }
    &__IconNext{
        &--Size{
            padding:4px 6px;
            border-radius: 50%;
            background-color: white;
            color: black;
            box-shadow: 0px 1px 2px 1px #E7EAED;
            position: absolute;
            top: 45%;
            right: -1%;
        }
    }
    &__IconLi li{
        background-color: black;
        padding:2px 2.5px;
        border-radius: 50%;
        width: 2px;
    }
    &__IconLi {
        bottom: -10%;;
    }
    
}
.Image--Background{
    padding: 0 5%;;
    background: url(./imageHostpage/bg3.jpg) no-repeat center;
    background-size: cover;
    height: 500px;
}

//carousel 2

.Carousel{
    &__Container{
    width: 100%;
    
    }

    &__Slide{
    display: flex;
    width: 100%;
    height: 400px;
    // background: yellow;
    left: 5%;
    }
    &__Item{
    width: 400px;
    }
    &__Image--Size{
        width: 320px;
        height: 200px;
        border-radius: 10px;
        background-size: cover;
    }
    &__Image--Url1{
        background: url(./imageHostpage/hostCarousel1.webp) no-repeat center;
    }
    &__Image--Url2{
        background: url(./imageHostpage/hostCarousel2.webp) no-repeat center;
    }
    &__Image--Url3{
        background: url(./imageHostpage/hostCarousel3.webp) no-repeat center;
    }
    &__Image--Url4{
        background: url(./imageHostpage/hostCarousel4.webp) no-repeat center;
    }
    &__Image--Url5{
        background: url(./imageHostpage/hostCarousel5.webp) no-repeat center;
    }
    &__Image--Url6{
        background: url(./imageHostpage/hostCarousel6.webp) no-repeat center;
    }
    &__Controls{
       width: 100%;
       transform: translateY(100%);
       position: relative;
       z-index: 2;
    }
}
#prevBtn, #nextBtn{
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 50%;
    background-color: #C1C1C1;
    opacity: 0.7;
    color:black;
    box-shadow: 0px 1px 1px 1px #C1C1C1;
    top: 100%;

}
