 // Homepage CSS
 *{
     margin: 0;
     padding: 0;
 }
body{
    box-sizing: border-box;
}
.Header{
    background-color: black;
    &__Image{
        &--Size {
            height: 8%;
        }
    }
    &__ImageBG--Size{
        background-image: url(./imageHomepage/bg.jpg);
        background-size: cover;
        background-repeat: none;
        background-position: center;
        height: 350px;
    }
}
.Main{
    &__ImageIcon{
        &--Size{
            background-image: url(./imageHomepage/imageIcon.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 70px;
            width: 70px;
            border-radius: 8%;
        }
    }
    &__ImageLive{
        &--Size{             
            background-size:cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 300px;
            border-radius:5% ;
        }
        &--Url1{
            background-image: url(./imageHomepage/home1.webp);
        }
        &--Url2{
            background-image: url(./imageHomepage/home2.webp);
        }
        &--Url3{
            background-image: url(./imageHomepage/home3.webp);
        }
        &--Url4{
            background-image: url(./imageHomepage/home4.webp);
        }
    }
    &__ImageBG{
        &--Size{
            background-image: url(./imageHomepage/imageBG2.webp);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 450px;
            border-radius: 10px;
        }
    }
    &__ImageDiscover{
        &--Size{
            height: 400px;
            border-radius: 10px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        &--Url1{
            background-image: url(./imageHomepage/Discover1.webp);
        }
        &--Url2{
            background-image: url(./imageHomepage/Discover2.webp);
        }
        &--Url3{
            background-image: url(./imageHomepage/Discover3.webp);
        }
    }
}

// table inspiration for future getaways

.Product__Tabs{
    a{
        color: #555555;
        margin-right: 10px;
        padding: 10px;
    }
    a:hover {
        background-color: #f1f1f1;
        border-radius: 10px;
        text-decoration: none;
         
        // margin-right: 10px;
    }
    a::after{
        content: "";
        position: absolute;
        background-color: black;
        height: 4px;
        width: calc(100%-20px);
    }
}

 