body{
    margin-left: 10%;
    background: #091921;
    font-family: 'Poppins', sans-serif;
}
.pheptinh{
    width: 278px;
    height: 50px;
    background-color: #eeeec0;
}
 
.result{
    width: 278px;
    height: 100px;
    background-color: #e7e3df;
    padding: 0px 5px;
}
div.size {
    width: 70px;
    height: 70px;
    display: inline-flex;
    padding: auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(113, 213, 228);
    margin-right: -5px;
    font-size: 18px;
}
div.size:hover{
    background-color: burlywood;
    pointer-events: fill;
    cursor: pointer;
}

div.clear{
    background: #f89232;
}